@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+3:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

a {
    margin: 0;
    text-decoration: none;
}

body{
    width:100%;
    overflow-x:hidden;
    overflow-y:hidden;
}

.websiteWrapper {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}


.hero {
    background-image: url(heroBG3big.png);
    background-size: cover;
    height: 100vh;
    padding-top: 20px;
    scroll-snap-align: start;
}


.herowrapper {
    width: 90%;
    margin: 0 auto;

}

.navbar {
    color: rgb(224, 238, 243);
    height: 40px;
    width: 300px;
    margin: 0 auto 0 auto;
}

.navbar ul {
    display: flex;
    text-align: center;
}

.navbar li {
    list-style: none;
    margin: 20px 40px;
    background: rgb(210,0,82);
    background: linear-gradient(90deg, rgba(210,0,82,1) 0%, rgba(255,100,100,1) 100%);
    padding: 10px 25px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: rgb(255, 219, 219);
}

.navbar li:hover {
    background: rgb(210,0,82);
    background: linear-gradient(45deg, rgba(210,0,82,1) 0%, rgba(255,100,100,1) 100%);
    cursor: pointer;
}

.herobody {
    color: white;
    margin: 125px auto;
    justify-content: center;
    text-align: center;
}

.herobody h1 {
    font-size: 4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.herobody h3 {
    text-shadow: 1px 1px 1px rgb(22, 27, 90);
    margin-bottom: 25px;
    color: rgb(158, 252, 255);
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
}

.herobody span {
    font-size: 3.3rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: rgba(223, 246, 255, 0.9);
    text-shadow: none;
}

.herobody a {
    text-decoration: none;
}

.heroh1 {
    margin: 25px 0 50px;
    color: rgba(223, 246, 255, 0.8);
}

span#button {
    background: rgb(75,117,241);
    background: linear-gradient(14deg, rgba(75,117,241,1) 0%, rgba(37,134,189,1) 100%);
    width: 155px;
    height: 50px;
    position: relative;
    color: white;
    border: none;
    padding: 10px 33px;
    font-size: 1.2rem;
    font-style: normal;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.herobody button span {
    position: absolute;
    font-size: 2.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    top: -1px;
    left: 140px;
}

.portfolio {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}


.portfolio h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    margin: 100px auto 40px;
    color: rgb(41, 39, 37);
}

.portfolio hr {
    background-color: red;
    height: 2px;
    margin: 0 auto 70px;
    width: 70px;
}

.projects {
    display: flex;
    justify-content: space-between;
    margin: 150px auto 250px;
    height: 100vh;
    max-width: 1250px;
    width: 100%;
    scroll-snap-align: start;
}

.projects img {
    max-height: 569px;
    max-width: 1000px;
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 550px;
}

.projects .right {
    text-align: right;
}

.projects h5 {
    margin: 85px 0 10px;
    color: rgb(211, 0, 81);
}

.projects h3 {
    font-size: 1.5rem;
    margin: 30px 0 30px 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.projects p {
    color: grey;
}

.button1, .button1 a {
    width: 150px;
    margin: 100px auto 100px auto;
    border: none;
    border-radius: 200px;
    background: rgb(11,34,179);
background: linear-gradient(290deg, rgba(11,34,179,1) 0%, rgba(43,182,254,1) 100%);
    height: 50px;
    width: 210px;
    cursor: pointer;
    color: white;
    box-shadow: 0px 10px 20px rgba(158, 174, 201, 0.5);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.left a {
    margin: auto auto 100px 0;
    box-shadow: none;
    background: none;
}


.button2, .button2 a {
    margin: 100px auto;
border: none;
background-color: transparent;
background: rgb(9,196,150);
background: linear-gradient(304deg, rgba(9,196,150,1) 0%, rgba(205,255,100,1) 100%);
text-align: center;
height: 50px;
width: 210px;
border-radius: 200px;
cursor: pointer;
color: white;
box-shadow: 0px 10px 20px rgba(177, 206, 160, 0.5);
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.button3, .button3 a {
    margin: 100px auto;
    border: none;
    background-color: transparent;
    background: rgb(255,3,50);
background: linear-gradient(300deg, rgba(255,3,50,1) 0%, rgba(255,73,104,1) 100%);
    text-align: center;
    height: 50px;
    width: 210px;
    border-radius: 200px;
    cursor: pointer;
    color: white;
    box-shadow: 0px 10px 20px rgba(205, 160, 160, 0.5);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}


.projects .left {
    text-align: left;
}

.marginforprojects {
    padding-top: 125px;
}

.left h3 {
    margin: 30px 100px 30px 0px;
}

#marginforBottom {
    height: 255px;
    color: rgb(209, 209, 209) !important;
    width: 100%;
    padding: 50px 0 0px 33px;
    text-align: left;
    margin-top: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: none;
}




@media (max-width: 1450px) {
    .portfolio {
        width: 100%;
    }
}

@media (max-width: 1270px) {
    .websiteWrapper {
        overflow-y: none;
        scroll-snap-type: none;
    }

    .portfolio {
        width: 100%;
        margin: 0px auto 650px;
        text-align: center;
        scroll-snap-align: start;
        height: 95%;
    }

    .projects {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .description, .right, .right h3 {
        margin: 20px auto 100px;
        padding: 0 auto;
        overflow: visible;
        z-index: 50000;
        text-align: center !important;
    }

    
    .right a {
        margin: 50px auto 0;
    }

    .marginforprojects {
        flex-direction: column-reverse;
    }

    .left, .description, .left h3 {
        margin: 20px auto 100px;
        text-align: center;
    }

    .button2, .left a {
        margin: 25px auto;
        padding: 0 auto;
    }

    .right a, .button1 {
        margin-bottom: 0;
    }

    #firstDiv {
        margin-top: 250px;
    }

    #firstDiv h5 {
        margin-top: 50px;
    }

    #firstDiv h3 {
        margin-bottom: 20px;
    }

    #firstDiv .button2 {
        margin-top: 0px;
    }

    #firstDiv .left {
        margin: 0 auto;
    }

    .portfolio {
        height: 350px;
    }

    #secondDiv {
        flex-direction: column;
        margin: 0 auto 305px;
    }

    #secondDiv h5 {
        margin-top: 30px;
    }

    #secondDiv h3 {
        margin-bottom: 20px;
    }

    #secondDiv p {
        margin-bottom: 0;
    }

    #secondDiv .button3 {
        margin-top: 0px;
    }

    #thirdDiv {
        margin-bottom: 150px;
    }

    #thirdDiv h5 {
        margin-top: 50px;
    }

    #thirdDiv h3 {
        margin-bottom: 20px;
    }

    #thirdDiv .button1 {
        margin-top: 0px;
    }

    #thirdDiv .left {
        margin: 0 auto;
    }

    .marginforprojects {
        padding: 0;
        margin: 0;
    }

    .container {
        width: 65% !important;
    }

    .heroh1 {
        margin-bottom: 155px !important;
    }

    .navbar {
        margin: 0 auto;
        padding: 0;
    }

    #marginforBottom {
        height: 100px;
        color: rgb(255, 255, 255) !important;
        width: 100%;
        padding: 50px 0 0px 33px;
        text-align: left;
        margin-top: 50px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        display: block;
    }
}

@media (max-width: 1230px) { 
    .heroh1 {
        margin-bottom: 50px !important;
        text-shadow: 0px 2px 4px rgb(31, 20, 70);
        margin-top: 15px;
    }
}

@media (max-width: 1000px) { 
    .heroh1 {
        margin-bottom: 60px !important;
        text-shadow: 0px 3px 3px rgb(20, 14, 44);
        margin-top: 35px;
    }

    #firstDiv {
        margin-top: 150px;
    }

    .container {
        width: 100% !important;
    }

    .contact span {
        font-size: 1.5rem;
    }

    .herobody h3 {
        font-size: 2.5rem;
    }

    .herobody h1 {
        font-size: 2.5rem;
        margin-top: 50px;
    }

    .heroh1 {
        margin-bottom: 165px !important;
    }

    .herobody span {
        font-size: 2.5rem;
    }

    .contact {
        margin-bottom: 125px;
        scroll-snap-stop: normal ;
    }

    .button2 {
        text-shadow: 1px 1px  1px rgb(86, 216, 69);
    }

    .container strong {
        color: rgb(69, 69, 184) !important;
    }

    .container bold {
        color: rgb(29, 29, 29);
        font-weight: bold;
    }




}

@media (max-width: 748px) { 
    .heroh1 {
        margin-bottom: 80px !important;
        text-shadow: 0px 3px 3px rgb(20, 14, 44);
        margin-top: 35px;
        font-size: 2rem !important;
    }
    .herobody h3 {
        font-size: 2rem;
    }

    .herobody h1 {
        font-size: 2rem;
    }

    .herobody span {
        font-size: 2rem;
    }

    #secondDiv, #firstDiv {
        margin-bottom: 0;
    }

    .portfolio {
        height: 100px;
    }

    #thirdDiv {
        margin-bottom: 0;
    }

    .contact p:nth-of-type(1) {
        font-size: 1rem;
    }

    .contact {
        height: 120vh;
    }


    .websiteWrapper {
    scroll-snap-type:none;
    }

    #marginforBottom {
        height: 150px;
        color: rgb(255, 255, 255) !important;
        width: 100%;
        padding: 50px 0 0px 33px;
        text-align: left;
        margin-top: 50px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        display: block;
    }


}

@media (max-width: 600px) {    


    #sticky {
        right: 25px !important;
    }

    .description {
        width: 80%;
        padding: 0;
        margin: 0 auto;
    }

    .right .left {
        margin: 0 auto;
    }

    .portfolio {
        height: 125px;
    }

    .projects {
        height: 90vh;
    }

    #thirdDiv {
        margin-bottom: 125px;
    }

    .marginforprojects {
        margin: 0;
        padding: 0;
    }

    .websiteWrapper {
        max-width: 100vh;
    }

    .navbar ul {
        margin: 0 auto !important;
        padding: 0 !important;
        justify-content: center;
        text-align: center;
        align-items: center;
    }


}


.contact {
    margin: 0 auto;
    justify-content: center;
    height: 100vh !important;
    scroll-snap-align: end;
}

.contact h1 {
    text-align: center;
    margin: 35px 0 20px 0 !important;
  }

.col input {
    margin: 5px auto;
}

.contact button {
    margin-top: 50px;
}

/* animation */

.arrow {
    display: flex;
    justify-content:center;
    align-items:center;
}

.arrow span{
    width: 10px;
    height: 40px;
    background: rgb(231, 56, 85);
    border-radius:5px;
    margin: 6px;
    animation: move 2.1s infinite ease-in-out;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  .arrow span:nth-of-type(1){
    transform: rotate(-45deg);

  }
  
  .arrow span:nth-of-type(2){
    transform: rotate(45deg);
  }
  
  @keyframes move{
    0%{margin-top:25px;}
    50%{margin-top:105px;}
    100%{margin-top:25px;}
  }

  #validationServer1 {
      justify-content: left !important;
      text-align: left !important;
      margin-right: auto !important;
      margin: 35px auto 15px 10px;
  }

  .contact button {
      margin: 50px auto 10px;
  }

  .contact input, .contact textarea {
      border: 1px solid rgb(54, 54, 54);
  }

  .contact strong {
      color: rgb(179, 46, 46);
  }

  #sticky {
      position: absolute;
      right: 10%;
      bottom: -5px;
  }

  bold {
      font-weight: bold;
      color: rgb(56, 56, 56);;
  }

  .container {
    padding-top: 60px;
  }

